
.contactFormOutter{
    width:25%;
    margin:0 auto;
}

.formGroup{
    display:flex;
    justify-content: space-between;
    padding:3px;
}

.label{
    width:30%;
}

input{
    width:50%;
}

.messageGroup{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.messageLabel{
    display:block;
    padding:5px 0 5px 0;

}
textarea{
    width:100%;
}

.submitButton{
    background-color:#5b7d76;
    border:#5b7d76;
    color:white;
    padding:15px;
    width: 200px;
    font-size:1.2em;
    transition:0.5s;
}

.submitButton:hover{
    cursor:pointer;
    background-color:#f27825;
}