/*Blog Posts Container*/
#blogPosts{
    width:70%;
    display:flex;
    margin:0 auto;
    justify-content: space-evenly;
}

.post{
    background-color:white;
    width:30%;
    margin:10px;
}

.postImage{
    display:block;
    max-width:100%;
    width:100%;
    padding:0;
    max-height:200px;
}

.postTitle{
    display:block;
    font-size:1em;
    color: #12bbc2;

}

.postBody{
    text-align:left;
    font-size:0.9em;
    padding:5px;
}

.viewPostLink {
    padding:5px;
    text-decoration: none;
    font-size:1em;
    text-align: right;

}

.viewPostLink a{
    text-decoration: none;
    color: #12bbc2;
    font-size:0.8em;
}
.viewPostLink:visited{
    text-decoration: none;
}