#footer{
    /* background-image: url(../../images/footerBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:312px; */
    background-color:grey;
    height:300px;
    display:flex;
    
}