.logoHolder{
    height:130px;
    background-color:#1E404E;
}

#logoImage{
    height:180px;
    border-radius:90px;
    z-index:999;

}

.navItem:hover{
    color:#1e404e;
}

.insta{
    color:white;
    transition:0.3s;
}
.insta:hover{
  color: #e44639;
  transform:scale(1.3);
}

.facebook{
    color:white;
        transition:0.3s;
}
.facebook:hover{
    color:#4867aa;
    transform:scale(1.3);
}

.pinterest{
    color:white;
    transition:0.3s;
}
.pinterest:hover{
    color:#bd081b;
    transform:scale(1.3);
}

.socialLink:visited{
    text-decoration:none;
    color:white;
}

.navItem{
    color:white;
    text-decoration: none;
}

