#shopCategoryContainer{
    width:70%;
    margin:0 auto;
    height:calc(100vh - 180px);

}


#shopCategories{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.shopCategory{
    position:relative;
    width:30%;
    margin:15px;    
    background-position: center;
    background-size:cover;
    /* border-radius:10px; */
}

.shopCaption{
    font-family: 'Amatic SC', cursive;
    font-weight:bold;
    padding:10px;
    font-size:1.5em;
}

.cartIcon{
    font-size:1.5em;
}
.categoryTitle{
    height:100%;
    /* background-color:rgba(0,0,0,0.3);     */
    /* border-radius:10px; */
}

.categoryTitle img{
    display:block;
    width:100%;
    height:100%;
}

.viewButton{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:25px;
    color:ivory;
    background-color:rgba(0,0,0,0.5);
    border:#5b7d76;
}

.viewButton span{
    color:white;
    font-size:1.4em;
}

.iconHolder{
    position:absolute;
    width:100%;
    z-index:100;
    margin:0 auto;
    font-size:1.2em;
    color:#ededed;
    transition:0.5s;
}

.iconHolder div{
    background-color:#5b7d76;
    margin-top:-20px;
    transition:0.5s;
}

.iconHolder div a{
    color:white;
}

.shopLink:visited{
    text-decoration:none;
}

.iconHolder:hover{
    color:white;
    cursor:pointer;
}

.iconHolder div:hover{
    background-color:rgb(0, 128, 21);
    cursor:pointer;
}